<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <label for="user_name">username</label>
    <input type="text" id="user_name" name="username">

    <label for="user_password">password</label>
    <input type="password" id="user_password" name="password">

    <button type="submit">Login</button>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

</form>
</body>
</html>
